  <div class="container py-9 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-12">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://www.culvercity.org/files/assets/public/images/public-works/green-initiatives/2022-01-clipart-evcharging.png?w=1080"
                    style="width: 200px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are CMEV</h4>
                </div>

                <form class='form login-form'>
                  <p class="text-center">Please login to your account</p>

                  <div class="form-outline mb-4">
                    <input type="email" id="email-login" class="form-control" placeholder="Your email here" />
                    <label class="form-label" for="email-login">Email</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="password-login" class="form-control" placeholder="Type your password" />
                    <label class="form-label" for="password-login">Password</label>
                  </div>

                  <div class="text-center pt-1 mb-4 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-4 form-outline mx-auto col-6 text-black login" type="submit">Login</button>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" class="btn btn-outline-primary gradient-custom-2 signup">Create Account</button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-black px-7 py-7 p-md-5 mx-md-2">
                <h4 class="mb-5 text-center">About</h4>
                <p class="medium mb-0">An interactive survey that requires users to register/login, navigate through a map showing EV chargers near an address of choice, 
                  and finally rank the preferred functionality they like to see in the next-gen EV charger management app.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/login.js"></script>